<div class="container">
  <div class="sidebar">
    <button class="btn" (click)="logOut()">
      <i class="fas fa-sign-out-alt"></i>
    </button>
    <button class="btn cart nav-link" [routerLink]="['/cart']" [routerLinkActive]="['active']">
      <i class="fa-solid fa-cart-shopping"></i>
    </button>
    <div class="bar-title">
      <a class="title" [routerLink]="['/products']">Righties</a>
      <a class="title-res" [routerLink]="['/products']">R</a>
    </div>

    <div class="menu-bar">
      <div class="menu-opt nav-link"
      *ngFor="let item of navItems"
      [routerLink]="item.route"
      [routerLinkActive]="['active']">
        <a>
          <i [class]="item.icon"></i>
          <span class="menu-item">
            {{ item.name | translate }}
          </span>
        </a>
      </div>
    </div>
  </div>

  <div>
    <main role="main">
      <router-outlet></router-outlet>
    </main>
  </div>
</div>
