<!-- <nav class="navbar fixed-top">
  <a class="navbar-brand-text" [routerLink]="['/']">Righties</a>

  <ul class="navbar-nav">
    <li class="nav-item text-nowrap">
      <button class="btn btn-link" (click)="logOut()">
        <i class="fas fa-sign-out-alt"></i>
      </button>
    </li>
  </ul>
</nav> -->

<!-- <div class="container-fluid">
  <div class="row">
    <nav class="col-md-2 d-none d-md-block  sidebar">
      <div class="sidebar-sticky">
        <ul class="nav flex-column">
          <li class="nav-item" *ngFor="let item of navItems">
            
            <a
              class="nav-link"
              [routerLink]="item.route"
              [routerLinkActive]="['active']"
            >
            <i class="fa-solid fa-shirt"></i>
              {{ item.name | translate }}
              <span class="sr-only">(current)</span>
            </a>
          </li>
        </ul>
      </div>
    </nav>

    <main role="main" class="">
      <router-outlet></router-outlet>
    </main>
  </div>
</div> -->

<div class="container">
  <div class="sidebar">
    <div class="bar-title">
      <button class="btn btn-link" (click)="logOut()">
        <i class="fas fa-sign-out-alt"></i>
      </button>
      <a class="title" [routerLink]="['/']">Righties</a>
    </div>

    <div class="menu-bar">
      <a class="menu-opt nav-link" *ngFor="let item of navItems" [routerLink]="item.route"
      [routerLinkActive]="['active']">
      <i class="fa-solid fa-shirt"></i>
        {{ item.name | translate }}
      </a>
    </div>
  </div>

  <div class="content">
    <main role="main" class="">
      <router-outlet></router-outlet>
    </main>
  </div>
</div>
