.content {
  width: 75vw;
  height: 100vh;
  margin: auto;
  padding: 50px 0px 50px 0px;
  display: grid;
  grid-template-columns: 5fr minmax(180px, 1fr);
}

.table_content {
  display: grid;
  max-height: 88vh;
  grid-template-rows: 1fr 10fr 1fr;
}

/*#region Filter*/

.filters_menu {
  margin-top: 120px;
  position: relative;
  border-top: solid 1px #ccc;
  padding-top: 12px;
}

.clear_text {
  position: absolute;
  top: -35px;
  right: 0;
  font-size: 14px;
  font-weight: 500;
  color: #4c75c4;
  border-radius: 16px;
  padding: 5px 12px 5px 12px;
  transition-duration: 0.1s;

  &:hover {
    background-color: #4c74c42d;
    cursor: pointer;
  }
}

.filter {
  display: block;
  padding-left: 20px;
  height: 30px;
  border-radius: 4px;
  transition-duration: 0.1s;
  margin-bottom: 5px;
  font-weight: 500;
}

.filter:hover {
  background-color: #597baf23;
}

input[type='checkbox'] {
  height: 15px;
  width: 15px;
  margin-right: 8px;
  border: solid 1px #4c75c4;
  border-radius: 3px;
  appearance: none;
  transition-duration: 0.1s;
  cursor: pointer;
}

input[type='checkbox']:hover {
  background-color: #4c74c446;
}

input[type='checkbox']:checked {
  background-color: #4c74c4bd;
}

.check_name {
  display: grid;
  grid-template-columns: 1fr 6fr;
}

.check_name div {
  display: flex;
  align-items: center;
  height: 30px;
  color: #333;
  font-size: 15px;
}

/*#endregion Filter*/

/*#region Searcher*/
.search_bar {
  display: flex;
  align-items: center;
}

.search_bar span {
    position: relative;
    width: 95%;
}

.search_bar span input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 100%;
  height: 45px;
  padding: 0px 15px 0px 15px;
  border-radius: 18px;
  background-color: transparent;
  font-size: 15px;
  color: #333333bb;
  font-weight: 500;
  border: solid 1px #33333349;
  transition-duration: 0.1s;
  resize: none;
  outline-offset: 0px !important;
  outline: none !important;
}

.search_bar span input:hover {
  border: solid 1px #4c74c452;
  background-color: #4c75c415;
}

.search_bar span input:focus-visible {
  border: solid 1px #4c75c4 !important;
  background-color: #4c75c415;
}

.search_bar span svg {
    position: absolute;
    right: 15px;
    top: 13px;
    width: 18px;
    height: 18px;
    fill: #333333b4;
}

/*#endregion*/

.product_list {
  overflow-y: auto;
  
}