<!-- <div class="py-md-3">
  <a class="btn btn-primary btn-lg" [routerLink]="['./new']">
    {{ 'app.NEW' | translate }}
  </a>
</div>
<app-panel [loading]="loading">
  <div class="table-responsive">
    <table class="table table-striped table-bordered" appTablesort (sort)="sort($event)">
      <thead>
        <tr>
          <th appTablesortCol="name">{{ 'examples.NAME' | translate }}</th>
          <th appTablesortCol="email">{{ 'examples.EMAIL' | translate }}</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of page?.items">
          <td>{{ item.name }}</td>
          <td>{{ item.email }}</td>
          <td class="table-actions">
            <button type="button" class="btn btn-danger" (click)="delete(item)">
              <i class="far fa-trash-alt"></i>
              {{ 'app.REMOVE' | translate }}
            </button>
            <a [routerLink]="['./', item.id, 'edit']" class="btn btn-info">
              <i class="fas fa-pencil-alt"></i>
              {{ 'app.EDIT' | translate }}
            </a>
          </td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <td colspan="6">
            <app-pagination [page]="page" (pageChange)="getPage($event)"></app-pagination>
          </td>
        </tr>
      </tfoot>
    </table>
  </div>
</app-panel> -->

<div class="content">
  <div class="table_content">
    <div class="search_bar">
      <span>
        <input type="text" placeholder="Search a product" />
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
          <!--! Font Awesome Pro 6.4.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. -->
          <path
            d="M416 208c0 45.9-14.9 88.3-40 122.7L502.6 457.4c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L330.7 376c-34.4 25.2-76.8 40-122.7 40C93.1 416 0 322.9 0 208S93.1 0 208 0S416 93.1 416 208zM208 352a144 144 0 1 0 0-288 144 144 0 1 0 0 288z"
          />
        </svg>
      </span>
    </div>

    <div class="product_list">
      <app-product></app-product>
    </div>

    <div class="paginator">
      paginator
      <!-- <app-pagination [page]="page" (pageChange)="getPage($event)"></app-pagination> -->
    </div>
  </div>

  <div class="filters_menu">
    <span class="clear_text">Clear</span>

    <div class="filters">
      <span *ngFor="let filter of filters" class="filter">
        <div class="check_name">
          <div>
            <input type="checkbox" name="{{ filter.name }}" />
          </div>

          <div>
            {{ filter.name }}
          </div>
        </div>
      </span>
    </div>
  </div>
</div>
