<!-- <div class="py-md-3">
  <a class="btn btn-primary btn-lg" [routerLink]="['./new']">
    {{ 'app.NEW' | translate }}
  </a>
</div>
<app-panel [loading]="loading">
  <div class="table-responsive">
    <table class="table table-striped table-bordered" appTablesort (sort)="sort($event)">
      <thead>
        <tr>
          <th appTablesortCol="name">{{ 'examples.NAME' | translate }}</th>
          <th appTablesortCol="email">{{ 'examples.EMAIL' | translate }}</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of page?.items">
          <td>{{ item.name }}</td>
          <td>{{ item.email }}</td>
          <td class="table-actions">
            <button type="button" class="btn btn-danger" (click)="delete(item)">
              <i class="far fa-trash-alt"></i>
              {{ 'app.REMOVE' | translate }}
            </button>
            <a [routerLink]="['./', item.id, 'edit']" class="btn btn-info">
              <i class="fas fa-pencil-alt"></i>
              {{ 'app.EDIT' | translate }}
            </a>
          </td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <td colspan="6">
            <app-pagination [page]="page" (pageChange)="getPage($event)"></app-pagination>
          </td>
        </tr>
      </tfoot>
    </table>
  </div>
</app-panel> -->

<div class="contain">
  lmao
</div>