<div class="dialog-container">
  <div class="dialog-header">
    Delete Item
  </div>

  <div class="info">
    Are you sure you want to delete <span class="info-name">{{ name }}</span
    >?
  </div>

  <div class="button">
    <button
      type="button"
      class="btn btn-outline-danger"
      data-toggle="modal"
      data-target="#exampleModal"
      (click)="delete()"
    >
      Delete
    </button>

    <button
      type="button"
      class="btn btn-secondary"
      data-toggle="modal"
      data-target="#exampleModal"
      (click)="close()"
    >
      Cancel
    </button>
  </div>
</div>
